@inherits FlatifyBase
<div class="input-wrapper floating-label">
	<InputText @bind-Value="@Value" AdditionalAttributes="@AttributeDict" id="@Id" type="text" placeholder="@Placeholder" />
	@if (!string.IsNullOrEmpty(Label))
	{
		<label for="@Id" class="form-label">@Label</label>
	}
</div>

@code {

	[Parameter] public string Id { get; set; } = Guid.NewGuid().ToString();
	[Parameter] public string Placeholder { get; set; }
	[Parameter] public string Label { get; set; }
	[Parameter] public string Value { get; set; }
	[Parameter] public EventCallback<string> ValueChanged { get; set; }

	private async Task OnInputChange(ChangeEventArgs e)
	{
		Value = e.Value.ToString();
		await ValueChanged.InvokeAsync(Value);
	}

}